<%- include('partials/header')%>
<%- include('partials/nav')%>

<div class="container mt-5 p-4 bg-white" class="div">

    <h1 class="text-center">TASK-MANAGER WEB APP</h1>
    <p class="text-primary text-center">Task management software is used to create, track and organize tasks and subtasks within projects. <br> It’s used by individuals who complete tasks, <br> managers who assign tasks and stakeholders who want to see overviews and reports on all projects and tasks.</p>

    <a class="btn btn-danger mt-5" href="signup">sign Up</a>
    <a class="btn btn-success mt-5" href="signin">sign In</a>
</div>

<%- include('partials/footer.ejs')%>
